<%= form_with url: url_for(controller: 'forms/income_forecast_form', action: 'index', only_path: false), method: :post, data: { turbo: true }, class: "space-y-4" do |form| %>
  <div class="flex gap-4">
    <div class="w-full">
      <%= form.label :conversion_rate, 'Exchange Rate', class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :conversion_rate, step: 0.01,
                            data: { income_forecast_target: "conversionRateInput" },
                            class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
    <div class="flex mt-6">
      <button type="button" data-action="click->income-forecast#update" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 whitespace-nowrap">Use Live Rate</button>
    </div>
  </div>

  <div class="space-y-2">
    <%= form.label :start_date, 'Start Date', class: "block text-sm font-medium text-gray-700" %>
    <%= form.date_field :start_date, value: Time.zone.today, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :end_date, 'End Date', class: "block text-sm font-medium text-gray-700" %>
    <%= form.date_field :end_date, value: Time.zone.today.end_of_year, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :hours_per_day, 'Hours Per Day', class: "block text-sm font-medium text-gray-700" %>
    <%= form.number_field :hours_per_day, step: 0.01, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :hourly_rate, 'Hourly Rate', class: "block text-sm font-medium text-gray-700" %>
    <%= form.number_field :hourly_rate, step: 0.01, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>

  <div class="text-right">
    <%= form.submit 'Forecast My Income', class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>