<turbo-frame id="projected_income">
  <% if @base_income %>
    <div class="p-2 bg-white rounded-lg shadow-md">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Projected Income</h2>
        <div class="flex justify-between text-gray-600">
          <span>Total Days Remaining:</span>
          <span class="font-medium text-gray-900"><%= total_days_remaining %></span>
        </div>
        <div class="flex justify-between text-gray-600">
          <span>Weekday Days Remaining:</span>
          <span class="font-medium text-gray-900"><%= weekday_days_remaining %></span>
        </div>
        <div class="flex justify-between text-gray-600">
          <span>Weekend Days Remaining:</span>
          <span class="font-medium text-gray-900"><%= weekend_days_remaining %></span>
        </div>
        <h2 class="text-xl font-semibold text-gray-800 mb-4 mt-8">Based on <%= @total_hours %> hours of work remaining, here is your projected income:</h2>
        <div class="flex justify-between text-gray-600">
          <span>Base Currency:</span>
          <span class="font-medium text-gray-900"><%= base_income %></span>
        </div>
        <div class="flex justify-between text-gray-600">
          <span>Quote Currency:</span>
          <span class="font-medium text-gray-900"><%= quote_income %></span>
        </div>
    </div>
  <% end %>
</turbo-frame>