<h1>Forex Horizon</h1>

<div data-controller="income-forecast">
  <!--  TODO: Make these into components?-->

  <div>
    Live Conversion Rate: <%= render partial: "conversion_rate", locals: { conversion_rate: @conversion_rate} %>
  </div>

  <%= render partial: "currencies_selection" %>

  <%= render partial: "form" %>

  <%= render partial: "projected_income_errors", locals: { errors: @errors || [] } %>

  <%= render partial: "projected_income", locals: {
      projected_remaining_income: @projected_remaining_income,
      projected_remaining_income_in_quote_currency: @projected_remaining_income_in_quote_currency,
      business_days_remaining: @business_days_remaining,
      weekend_days_remaining: @weekend_days_remaining,
      total_days_remaining: @total_days_remaining
    }
  %>
</div>